# Don't commit compressed archives
*.zip
*.7z
*.tar

# Don't commit documentation
*.pdf

# Don't commit tests' files. Those are mostly used to check how do some features work
test_*.py

__pycache__/
.vscode/
rebrow/
wtiproj0*/wymagania
_wyklady/
*.tex

tags

